<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Travel Bucket List</title>
    <link href="https://fonts.google.com/specimen/Bree+Serif?selection.family=Bree+Serif" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <main class="flex flex--row">
        <h1>Travel Bucket List</h1>
        <nav>
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li>
                    Cities
                    <ul>
                        <li><a href="/cities">All Cities</a></li>
                        <li><a href="/cities/new">Add Cities</a></li>
                    </ul>
                </li>
                <li>
                    Countries
                    <ul>
                        <li><a href="/countries">All Countries</a></li>
                        <li><a href="/countries/new">Add Countries</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </main>
    <section>
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>