{% extends "base.html" %}
{% block content %}

<h2>Update your City</h2>

<form action="/cities/{{ city.id }}" method="POST">
    <div>
        <label for="name">City:</label>
        <input type="text" id="name" name="name" value="{{ city.name }}">
    </div>
    <div>
        <label for="country">Country:</label>
        <select name="country_id" id="country">
            {% for country in countries %}
            <option value="{{ country.id }}" {% if country.id == city.country.id %} selected {% endif %}>
                {{ country.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}
