{% extends "base.html" %}
{% block content %}

<h2>MY CITIES:</h2>

{% for city in cities %}

<section>
    <h3><a>{{ city.name }}</a></h3>
    <p>({{city.country.name}})</p>
    <div class="buttons">
      {% if city.visited == True %}
        <p>VISITED: &#10003</p>    
      {% else %}
        <p>NOT VISITED(YET!): &#10008</p>
      {% endif %}
    </div>

    <form action="/cities/{{ city.id }}/edit" method="GET">
        <input type="submit"  value="Edit">
    </form>
    <form action="/cities/{{ city.id }}/delete" method="POST">
        <input type="submit" value="Delete">
    </form>
</section>


{% endfor %}
{% endblock %}