{% extends "base.html" %}
{% block content %}

<h2>Add a new city</h2>

<form action="/cities" method="POST">
    <div>
        <label for="name">City:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="country">Country:</label>
        <select name="country_id" id="country">
            {% for country in countries %}
            <option value="{{ country.id }}">
                {{ country.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="visited">Visited:</label>
        <select id="visited" name="visited">
          <option value="true">Yes</option>
          <option value="false">Nope</option>
        </select>
      </div>
    <div>
        <input class="hover" type="submit" value="Submit">
    </div>
</form>

{% endblock %}
