body {
    background-size: cover;
    background-image: url("../images/background3.jpg");
    font-family: 'Bree Serif', serif;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 5px;
}

body > h1 {
    text-align: center;
    text-orientation: upright;
    color: orangered;
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 4px;
    word-spacing: 15px;
}

body > header {
    grid-area: header;
}

ul {
    list-style-image: url('../images/airplane.png');
}


#home_link {
    color: #f9f1d7; 
}

#menu-titles {
    color: orangered;
    font-size: 18px;
}


nav ul li {
    margin-bottom: 15px;
    text-transform: uppercase;
    color: orangered;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

main {
    grid-area: content;
    padding: 25px;
}

.list-format {
    margin-left: 0; padding-left: 25px;
}

a {
    color: whitesmoke;
    /* background-color: orange; */
    letter-spacing: 2px;
    word-spacing: 5px;
}

a:hover {
    color: orangered; 
}

.main--menu {
    color: orangered; 
}

body > footer {
    color: whitesmoke;
    text-align: center;
  }
  

footer {
    grid-area: footer;
  }

footer > blockquote {
      color: indigo;
      text-align: center;
      font-size: 18px;
  }

#content {
    border-left: 3px solid whitesmoke;
    padding-left: 50px;
    color: red;
    }

.buttons {
    cursor: pointer;
  }

  h2 {
    color: orange; 
    font-size: 22px;
  }

  form > div > label {
      color: whitesmoke;
      /* background-color: orange; */
  }

main > section > p {
      color: whitesmoke;
      font-size: 20px;
      text-transform: uppercase;
      /* background-color: orange; */
  }

#grid-container {
    display: grid;
    grid-template-areas:
    'header content'
    'footer footer';
    grid-template-columns: 5fr 5fr;
  }

blockquote span {
      background-color: whitesmoke;
      border-radius: 12px;
      /* margin: 10px; */
  }

